.discusion-wrapper {
  background-color: #659dbd;
  box-shadow: 1px 1px 10px 3px #000000;
  border-radius: 15px;
  color: #fbeec1;
  margin: 15px;
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.discusion-wrapper section {
  border: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.user-icon {
  flex-basis: 15%;
}

.user-content {
  align-items: center;
  justify-content: center;
}
.comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 15%;
  align-items: center;
  padding-top: 0;
}


.inner-discusion-wrapper {
  display: flex;
  margin: 5px;
  align-items: center;
  border: none;
}

.discusion-wrapper section:hover {
  cursor: pointer;
  transition: all 0.3s;
  background-color: #daad86;
  border-radius: 15px;
}
button {
  border: none;
  align-items: center;
  background-color: transparent;
  justify-self: unset;
  color: white;
}
button:hover{
  color: green;
  cursor: pointer;
}