.logout {
  display: flex;
  border-radius: 20px;
  width: 100px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
  background-color: #42ab9e;
  color: white;
  border: inherit;
}
.logout:hover {
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  background-color: white;
  color: #42ab9e;
}
