.profile {
  display: flex;
  padding-top: 20px;
  align-items: center;
  width: 80%;
  min-height: 80vh;
  margin: 0 auto;
  flex-direction: column;
}

.username{
  padding-top:40px;
}

.profile input {
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.profile button {
  width: 400px;
  padding: 20px;
  background-color: #262c32;
  color: white;
}

.profile button:hover {
  cursor: pointer;
  background-color: white;
  color: #262c32;
}
