.post-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  min-height: 80vh;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  box-shadow: 0 4px 2px -2px gray;
}
form input {
  text-align: center;
  width: 300px;
  margin: 20px;
  padding: 20px;
}
.post-input:nth-child(2) {
  width: 400px;
  margin: 20px;
  padding: 20px;
  height: 150px;
}

input:focus::-webkit-input-placeholder {
  transition: all 0.5s;
  font-size: 1em;
  position: relative;
  top: -15px;
  transition: 0.2s ease-out;
}
form button {
  border: none;
  background-color: #262c32;
  color: white;
  height: 40px;
  width: 300px;
  box-shadow: 0 4px 2px -2px gray;
}
form button:hover {
  cursor: pointer;
  background-color: white;
  color: #262c32;
}
