.post-wrapper {
  width: 90%;
  padding: 5px 10px;
}
li {
  background-color: #262c32;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  margin: 20px;
}
.link-content {
  text-decoration: none;
  color: white;
}

.link-content:hover {
  cursor: pointer;

  color: #93999e;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
