.post-wrapper {
  display: flex;
  width: 90%;
}

.comments-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 15px;
}
.comment-content {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}
.comment-details {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.current-post {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
}
.current-post-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

li {
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  background-color: #565656;
  color: white;
}

.content {
  width: 100%;
  font-size: 1.5rem;
}

.link-item {
  text-decoration: none;
  color: white;
}
.link-item:hover {
  color: rgb(190, 170, 170);
}

.likes {
  background-color: inherit;
}
.details {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user {
  width: 50%;
  display: flex;

  align-items: center;
}
.info p {
  margin-right: 8px;
}
.info {
  display: flex;
  width: 50%;
  align-items: center;
}

.like-btn:hover {
  color: green;
  cursor: pointer;
}

.addComment:hover {
  cursor: pointer;
  color: yellow;
}
