footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 60px; /* Height of the footer */
  background-color: #262c32;
  color: white;
}
