.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #262c32;
  color: white;
  padding: 10px;
}

.nav-item {
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5px 20px;
  text-decoration: none;
  margin: 10px;
}
.nav-item:hover {
  background-color: white;
  color: #262c32;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.header button {
  padding: 5px;
  border: none;
  border-radius: 10px;
  width: 80px;
  margin: 5px;
}
.header button:hover {
  background-color: #9cb3ab;
  cursor: pointer;
}
