.post-wrapper {
  display: flex;
  min-height: 475px;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  background-color: #262c32;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 2px -2px gray;
}

.post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.user {
  padding: 20px;
  width: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.info {
  width: 15%;
  padding: 20px;
}

.spinner {
  display: flex;
  
  justify-content: center;
  align-items: center;
  min-height: 76vh;
}
